footer {
  border-top: 1px solid #d0d0d0;
  background-image: url("/img/tile.jpg");
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer-backdrop {
  /* backdrop-filter: blur(4px); */
  backdrop-filter: brightness(0.4);
}
footer * {
  color: white;
  background-color: transparent;
}

footer .footer-first {
  margin: 14px 117px 4px 84px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-first p {
  margin-left: 10px;
  width: 144px;
  font-size: 28px;
}
footer .footer-first img {
  height: 100px;
  width: 190px;
}

footer .footer-second {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
footer .footer-second > div {
  width: 270px;
}

footer .footer-third {
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

footer .footer-hr {
  border: 1px solid #ffffff;
  width: 92%;
  margin: 0 4%;
}

footer .footer-email {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 10px;
}
footer .footer-email:hover {
  border-bottom: 1px solid black;
}

footer .footer-email input {
  width: 550px;
  border: none;
}

footer .footer-email input:focus {
  border: none;
  outline: none;
}
