nav {
  border-bottom: 1px solid #d0d0d0;

  /* background-color: rgb(242, 242, 242); */
  background-image: url("/img/tile.jpg");

  position: fixed;
  width: 100%;
}
nav * {
  color: #ffffff;
  background-color: transparent;
  /* background-color: rgb(242, 242, 242); */
}

nav .nav-backdrop {
  height: 70px;
  width: 100%;
  padding: 7px 0px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo p {
  width: 80px;
  font-size: 17px;
  font-weight: bolder;
}

.nav-logo img {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-subscribeEmail {
  display: flex;
}

.nav-searchicon {
  width: auto;
  height: auto;
}

nav .nav-subscribeEmail {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
